.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .red{
      color: red;
  }
  .green{
      color: green;
  }

  