<div class="card card-custom" [ngClass]="cssClasses">
    <!-- Header -->
    <div class="card-header border-0">
        <h3 class="card-title font-weight-bolder text-dark">Top Clients</h3>
        <div class="card-toolbar">
            <div ngbDropdown class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions"
                data-placement="bottom">

                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <kt-dropdown2></kt-dropdown2>
                </div>
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-2">
        <!--begin::Item-->
        <div class="d-flex align-items-center mb-10" *ngFor="let client of topClients">
            <!--begin::Symbol-->
            <div class="symbol symbol-40 symbol-light-success mr-5">
                <span class="symbol-label">
                    <img alt="boy avatar" src="{{client.img}}" class="h-75 align-self-end" />
                </span>
            </div>
            <!--end::Symbol-->

            <!--begin::Text-->
            <div class="d-flex flex-column flex-grow-1 font-weight-bold">
                <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">Client n°{{client.id}}</a>
                <span class="text-muted">{{client.nbVentes}} Commandes</span>
            </div>
            <!--end::Text-->

        </div>
        <!--end::Item-->
    </div>
</div>
