<div class="card card-custom" [ngClass]="cssClasses">
    <!-- Header -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Dernières Activités</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">{{dernieresActivites.nbVentes}} Ventes</span>
        </h3>
    </div>
    <!-- Body -->
    <div class="card-body pt-4">
        <div class="timeline timeline-5 mt-3">
            
            <div class="timeline-item align-items-start" *ngFor="let actualite of dernieresActivites.data">
                <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">{{actualite.date | date :'dd/M'}}</div>

                <div class="timeline-badge">
                    <i class="fa fa-genderless icon-xl" [ngClass]="actualite.couleur"></i>
                </div>

                <div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">
                    <span class="font-weight-bolder text-dark-75 pl-3 font-size-lg">Le Client #{{actualite.idClient}} vient de commander pour {{actualite.montantCommande}}€</span>
                </div>
            </div>

        </div>
    </div>
</div>