  <div class="card card-custom example example-compact gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Comptabilité Générale</h3>
		</div>
	</div>
	<div class="card-body">
		<div>
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource">
                  <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                  <!-- Position Column -->
                  <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date | date :'dd/M/yy'}} </mat-cell>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="compte">
                    <mat-header-cell *matHeaderCellDef> Compte </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.compte}} </mat-cell>
                  </ng-container>
                  <!-- Weight Column -->
                  <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="ref">
                    <mat-header-cell *matHeaderCellDef> Ref </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.ref}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="debit">
                    <mat-header-cell *matHeaderCellDef> Débit </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="red"> {{element.debit}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="credit">
                    <mat-header-cell *matHeaderCellDef> Crédit </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="green"> {{element.credit}} </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
            
		</div>
	</div>
</div>
